################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ContactManagement/ContactManagementConsole/obj/
/ContactManagement/ContactManagementConsole/bin/
/ContactManagement/ContactManagementLibrary/bin/
/ContactManagement/ContactManagementLibrary/obj/
/ContactManagement/.vs/
